
Server/Server/obj/Server.csproj.nuget.dgspec.json
Server/Server/obj/rider.project.restore.info
Server/Server/obj/project.packagespec.json
Server/Server/obj/project.nuget.cache
Server/Server/obj/project.assets.json
Server/Server/obj/Debug/net6.0/Server.GeneratedMSBuildEditorConfig.editorconfig
Server/Server/obj/Debug/net6.0/Server.csproj.AssemblyReference.cache
Server/Server/obj/Debug/net6.0/Server.assets.cache
Server/Server/.idea/.idea.Server.dir/.idea/vcs.xml
Server/Server/.idea/.idea.Server.dir/.idea/indexLayout.xml
Server/Server/.idea/.idea.Server.dir/.idea/encodings.xml
